h2 {
    margin: 10px 5px 10px 5px;
}

h4 {
    font-size: medium;
    margin: 5px 5px 5px 5px;
}

.backgrd {
    text-align: center; 
    padding: 20px 0 20px 0;
    background-color: #F3F3F3;
}

.socio-image {    
    background-size: contain;
    width: 1.2in;
    height: 1.2in;
    background-position: center;
    border-radius: 90px 90px  90px 90px;
  } 

.infoSocio {
    background-color: white;
    box-shadow: 5px 5px #D0D0D0;
    width: 370px;
    margin:0 auto;
    text-align: center;  
}

    .infoSocio .infoAcceso {
        margin:0 auto;
        text-align: center;
        vertical-align: middle;
        padding-bottom: 5px;
    }

    .infoSocio .infoData {
        background-color: #EAEAEA;
        padding: 10px 0 5px 0;
        margin-bottom: 8px;
    }

    .infoSocio h2 {
        margin: 10px 5px 10px 5px;
        font-size: 1em;   
    }

    .infoSocio span {        
        font-size: 1.8em;   
    }