mat-card{
    /* max-width: 960px; */
    margin: 0 auto;    
  }

  a {
    color: white;
    text-decoration: none;    
  }

  .material-icons {
    font-size: 0.3in;
    float: left;
  }

  .bar-icon {
    padding: 0 14px;
  }
  
  .bar-spacer {
    flex: 1 1 auto;
  }

  .InfoTest {
    color: yellow;
    border: 3px solid yellow;
    padding-right: 14px;
  }