/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form-container {
  display: flex;
  flex-direction: column;
}
.form-container > * {
  width: 100%;
}

/* Table */
table {
  width: 100%;
}
table th {
  text-align: center !important;
}
.mat-row:hover {
  background-color: #879BFF;
}
.mat-cell:hover {
  cursor: pointer;
}